@mixin ChatNavbar($function) {
  .ChatNavbar {
    width: call(get-function($function), 290px);
    background: #FFFFFF;
    box-shadow: call(get-function($function), 14px) 0px call(get-function($function), 25px) rgba(86, 128, 248, 0.03), call(get-function($function), 35px) 0px call(get-function($function), 35px) rgba(86, 128, 248, 0.05), call(get-function($function), 24px) call(get-function($function), 5px) call(get-function($function), 50px) rgba(0, 0, 0, 0.02);
    &__avatar {
      padding-top: call(get-function($function), 92px);
      margin: 0 auto;
      height: call(get-function($function), 86px);
      width: call(get-function($function), 86px);
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #ccc;
      }
    }
    &__username {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: call(get-function($function), 10px);
      h2 {
        font-family: 'TT Norms';
        font-size: call(get-function($function), 18px);
        line-height: call(get-function($function), 21px);
        color: #0D1C2E;
        margin: 0;
      }
    }
    &__navigate {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: call(get-function($function), 75px);
        li {
          padding-top: call(get-function($function), 35px);
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            position: relative;
            padding-left: call(get-function($function), 38px);
            &:hover {
              text-decoration: none;
              span {
                color:#2A8BF2;
              }
              &::before {
                content: '';
                top: call(get-function($function), -7px);
                position: absolute;
                width: call(get-function($function), 3px);
                height: call(get-function($function), 40px);
                left: 0px;
                background: #2A8BF2;
                box-shadow: call(get-function($function), 1px) 0px call(get-function($function), 10px) rgba(42, 139, 242, 0.45), 0px 0px call(get-function($function), 10px) rgba(42, 139, 242, 0.55), call(get-function($function), 4px) 0px call(get-function($function), 25px) rgba(42, 139, 242, 0.75);
                border-radius: call(get-function($function), 3px);
              }
            }
            img {
              width: call(get-function($function), 24px);
              height: call(get-function($function), 24px);
              margin-right: call(get-function($function), 17px);
            }
            span {
              font-family: 'TT Norms';
              font-size: call(get-function($function), 16px);
              font-weight: bold;
              line-height: call(get-function($function), 19px);
              text-transform: uppercase;
              color: #707C97;
            }
          }
        }
      }
      &__logout {
        margin-top: call(get-function($function), 210px);
      }
    }
  }
}