@mixin ChatMain($function) {
  .ChatMain {
    width: 80%;
    margin-top: call(get-function($function), 75px);
    margin-left: call(get-function($function), 30px);
    margin-right: call(get-function($function), 30px);
    min-height: call(get-function($function), 745px);
    &__head {
      background: #FAFBFF;
      border-radius: call(get-function($function), 6px) call(get-function($function), 6px) 0px 0px;
      min-height: call(get-function($function), 110px);
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__user {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: call(get-function($function), 60px);
        &__img {
          width: call(get-function($function), 54px);
          height: call(get-function($function), 54px);
          border-radius: 50%;
          background-color: #2A8BFA;
        }
        &__descr {
          padding-left: call(get-function($function), 20px);
          h2 {
            font-family: 'TT Norms';
            font-size: call(get-function($function), 18px);
            line-height: call(get-function($function), 21px);
            text-transform: capitalize;
            color: #0D1C2E;
            margin: 0;
            padding-bottom: call(get-function($function), 10px);
          }
          h3 {
            font-family: 'TT Norms';
            font-size: call(get-function($function), 16px);
            line-height: call(get-function($function), 19px);
            text-transform: capitalize;
            color: #2A8BF2;
            margin: 0;
          }
        }
      }
      &__btn {
        display: flex;
        align-items: center;
        padding-right: call(get-function($function), 40px);
        button {
          width: call(get-function($function), 52px);
          height: call(get-function($function), 52px);
          border-radius: 50%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          cursor: pointer;
          margin-right: call(get-function($function), 20px);
          box-shadow: 0px call(get-function($function), 10px)  call(get-function($function), 15px)  rgba(0, 0, 0, 0.03), 0px call(get-function($function), 7px)  call(get-function($function), 25px)  rgba(42, 139, 242, 0.03), 0px call(get-function($function), 5px)  call(get-function($function), 25px)  rgba(42, 139, 242, 0.07);
          &:focus {
            outline: none;
          }
        }
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: call(get-function($function), 2px);
        width: 100%;
        background: rgba(112, 124, 151, 0.1);
        transform: matrix(1, 0, 0, -1, 0, 0);
      }
    }
    &__body {
      background: #fff;
      min-height: call(get-function($function), 585px);
      width: 100%;
      overflow-y: auto;
      &__wrap {
        padding-top: call(get-function($function), 30px);
        padding-left: call(get-function($function), 60px);
        height: call(get-function($function), 600px);
        overflow-y: auto;
        &__anotheruser {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin-top: call(get-function($function), 15px);
          &__img {
            margin-right: call(get-function($function), 24px);
            width: call(get-function($function), 36px);
            height: call(get-function($function), 36px);
            filter: drop-shadow(call(get-function($function), 4px) call(get-function($function), 4px) call(get-function($function), 15px) rgba(154, 81, 48, 0.05)), drop-shadow(call(get-function($function), 2px) call(get-function($function), 2px) call(get-function($function), 10px) rgba(154, 81, 48, 0.1)), drop-shadow(1px 1px call(get-function($function), 50px) rgba(154, 81, 48, 0.15));
            border-radius: 50%;
            background-color: #ccc;
          }
          &__dots {
            border: none;
            background: transparent;
            cursor: pointer;
            margin-left: call(get-function($function), 15px);
            display: flex;
            align-self: center;
            &:focus {
              outline: none;
            }
          }
          &__descr {
            display: inline-flex;
            max-width: 50%;
            padding: call(get-function($function), 22px);
            background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
            box-shadow: call(get-function($function), 10px) call(get-function($function), 10px) call(get-function($function), 25px) rgba(42, 139, 242, 0.1), call(get-function($function), 15px) call(get-function($function), 15px) call(get-function($function), 35px) rgba(42, 139, 242, 0.05), call(get-function($function), 10px) call(get-function($function), 10px) call(get-function($function), 50px) rgba(42, 139, 242, 0.1);
            border-radius: 0px call(get-function($function), 10px) call(get-function($function), 10px) call(get-function($function), 10px);
            p {
              font-family: 'TT Norms';
              font-size: call(get-function($function), 16px);
              line-height: call(get-function($function), 26px);
              color: #FFFFFF;
              margin: 0;
            }
          }
        }
        &__defaultuser {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-right: call(get-function($function), 60px);
          margin-top: call(get-function($function), 15px);
          &__descr {
            display: inline-flex;
            max-width: 50%;
            padding: call(get-function($function), 22px);
            background: #FFFFFF;
            border: 1px solid rgba(112, 124, 151, 0.25);
            box-sizing: border-box;
            border-radius: call(get-function($function), 10px) call(get-function($function), 10px) 0px call(get-function($function), 10px);
            box-shadow: call(get-function($function), 10px) call(get-function($function), 10px) call(get-function($function), 25px) rgba(112, 124, 151, 0.05), call(get-function($function), 15px) call(get-function($function), 15px) call(get-function($function), 35px) rgba(112, 124, 151, 0.05);
            p {
              font-family: 'TT Norms';
              font-size: call(get-function($function), 16px);
              line-height: call(get-function($function), 26px);
              color: #707C97;
              margin: 0;
            }
          }
          &__status {
            margin-left: call(get-function($function), 15px);
          }
          &__dots {
            border: none;
            background: transparent;
            cursor: pointer;
            margin-right: call(get-function($function), 15px);
            display: flex;
            align-self: center;
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    &__foot {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding-left: call(get-function($function), 60px);
      padding-right: call(get-function($function), 60px);
      margin-bottom: call(get-function($function), 30px);
      min-height: call(get-function($function), 89px);
      border-top: 2px solid rgba(112, 124, 151, 0.15);
      border-radius: 2px;
      &__files {
        &__add {
            background: linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
            border: none;
            border-radius: 50%;
            width: call(get-function($function), 40px);
            height: call(get-function($function), 40px);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:focus {
              outline: none;
            }
        }
      }
      &__input {
        margin-left: call(get-function($function), 20px);
        width: 100%;
        input {
          width: 100%;
          border: none;
          font-family: 'TT Norms';
          font-size: call(get-function($function), 20px);
          line-height: call(get-function($function), 24px);
          text-transform: capitalize;
          color: rgba(112, 124, 151, 0.5);
          &:focus {
            outline: none;
          }
        }
      }
      &__btns {
        display: flex;
        align-items: center;
        &__smile {
          border: none;
          border-radius: 50%;
          width: call(get-function($function), 40px);
          height: call(get-function($function), 40px);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: transparent;
          margin-right: call(get-function($function), 32px);
          &:focus {
            outline: none;
          }
        }
        &__submit {
          border: none;
          border-radius: 50%;
          width: call(get-function($function), 40px);
          height: call(get-function($function), 40px);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background: linear-gradient(325.78deg, #2A8BF2 14.76%, #7CB8F7 87.3%);
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}