@mixin ChatContact($function) {
  .ChatContact {
    padding-left: call(get-function($function), 60px);
    padding-right: call(get-function($function), 60px);
    width: 80%;
    &__title {
      h3 {
        font-size: call(get-function($function), 36px);
        line-height: call(get-function($function), 26px);
        display: flex;
        align-items: center;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #0D1C2E;
        margin-top: call(get-function($function), 100px);
      }
    }
    &__row {
      display: flex;
      flex-direction: column;
      width: 100%;
      &_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: call(get-function($function), 70px);
        width: 100%;
        background: #FFFFFF;
        border-radius: call(get-function($function), 6px);
        margin-bottom: call(get-function($function), 20px);
        &__btn {
          width: call(get-function($function), 240px);
          height: call(get-function($function), 60px);
          background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
          box-shadow:  call(get-function($function), 6px)  call(get-function($function), 6px)  call(get-function($function), 25px) rgba(42, 139, 242, 0.15), call(get-function($function), 4px) call(get-function($function), 4px) call(get-function($function), 25px) rgba(42, 139, 242, 0.05), call(get-function($function), 10px) call(get-function($function), 6px) call(get-function($function), 25px) rgba(42, 139, 242, 0.15);
          border-radius:  call(get-function($function), 6px);
          border: none;
          cursor: pointer;
          margin-right: call(get-function($function), 10px);
          span {
            font-size: call(get-function($function), 20px);
            line-height: call(get-function($function), 24px);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-transform: capitalize;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}