@mixin Login($function) {
  .Login {
    width: call(get-function($function), 580px);
    height: call(get-function($function), 680px);
    background: #FFFFFF;
    border-radius: call(get-function($function), 6px);
    padding: call(get-function($function), 40px);
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: call(get-function($function), 50px);
      h2 {
        font-size: call(get-function($function), 48px);
        line-height: call(get-function($function), 26px);
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #0D1C2E;
        margin: 0;
      }
    }
    &__block {
      &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: call(get-function($function), 35px);
        h3 {
          font-size: call(get-function($function), 26px);
          line-height: call(get-function($function), 26px);
          text-transform: capitalize;
          color: #707C97;
        }
      }
      &__form {
        &__inputs {
          display: flex;
          flex-direction: column;
          padding-top: call(get-function($function), 35px);
          span {
            font-size: call(get-function($function), 18px);
            line-height: call(get-function($function), 21px);
            font-weight: bold;
            text-transform: capitalize;
            color: #0D1C2E;
            padding-bottom: call(get-function($function), 10px);
          }
          input {
            background: #FFFFFF;
            border-radius: call(get-function($function), 6px);
            border: none;
            height: call(get-function($function), 70px);
            padding-left: call(get-function($function), 15px);
            padding-right: call(get-function($function), 15px);
            box-shadow: call(get-function($function), 14px) 0px call(get-function($function), 25px) rgba(86, 128, 248, 0.03), call(get-function($function), 35px) 0px call(get-function($function), 70px) rgba(86, 128, 248, 0.05), call(get-function($function), 24px) call(get-function($function), 5px) call(get-function($function), 50px) rgba(0, 0, 0, 0.02);
            &::placeholder {
              font-family: 'TT Norms';
              font-size: call(get-function($function), 18px);
              line-height: call(get-function($function), 26px);
              text-transform: capitalize;
              color: #707C97;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    &__btn {
      height: call(get-function($function), 60px);
      width: 100%;
      background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
      box-shadow: call(get-function($function), 6px) call(get-function($function), 6px) call(get-function($function), 25px) rgba(42, 139, 242, 0.15), call(get-function($function), 4px) call(get-function($function), 4px) call(get-function($function), 25px) rgba(42, 139, 242, 0.05), call(get-function($function), 10px) call(get-function($function), 6px) call(get-function($function), 25px) rgba(42, 139, 242, 0.15);
      border-radius: call(get-function($function), 6px);
      font-size: call(get-function($function), 20px);
      line-height: call(get-function($function), 24px);
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
      margin-top: call(get-function($function), 35px);
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      &:hover {
          background: darken(#2A8BF2, 7%);
      }
      &:focus {
        outline: none;
      }
    }
  }
  .Registration__btn {
    height: call(get-function($function), 60px);
    width: 100%;
    background: linear-gradient(92.68deg, #66ffc5 0%, #03fc9d 100%);
    box-shadow: call(get-function($function), 6px) call(get-function($function), 6px) call(get-function($function), 25px) rgba(42, 139, 242, 0.15), call(get-function($function), 4px) call(get-function($function), 4px) call(get-function($function), 25px) rgba(42, 139, 242, 0.05), call(get-function($function), 10px) call(get-function($function), 6px) call(get-function($function), 25px) rgba(42, 139, 242, 0.15);
    border-radius: call(get-function($function), 6px);
    font-size: call(get-function($function), 20px);
    line-height: call(get-function($function), 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: call(get-function($function), 35px);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    position: relative;
    text-decoration: none;
    &:hover {
      background: darken(#03fc9d, 7%);
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
}
