@import './text.scss';

@font-face {
  font-family: "TT Norms";
  src: url("./assets/fonts/TTNorms-Regular.ttf");
}
body {
  display: block;
  margin: 0;
  font-family: "TT Norms";
}

.App_body {
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
}

/* width */
::-webkit-scrollbar {
  height: 50px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05), 2px 2px 10px rgba(112, 124, 151, 0.1), 1px 1px 50px rgba(112, 124, 151, 0.15);
  border-radius: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #B7BDCB;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B7BDC0;
}